--extra-index-url https://download.pytorch.org/whl/cu118
absl-py>=1.0.0
flatbuffers>=23.1.21
google-auth>=2.15.0
insightface
num2words
numpy>=1.23.0,<1.24.0
onnxruntime-gpu
opencv-python
pandas
Pillow
protobuf>=3.20.2
psutil
python_speech_features
scikit_learn
scipy>=1.8.0
sox
tensorboard<2.14.0,>=2.13.0
tensorflow<2.14.0,>=2.13.0
torch>=2.0.0
torchaudio>=2.0.1
torchvision>=0.15.0
transformers
typing-extensions>=4.7.1
urllib3<2.0.0
wheel
